[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
numpy = "*"
pandas = "*"
soynlp = "*"
xlrd = "==1.2.0"
brython = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
