<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="head-title">
        <h1> 키워드 서치 데모 페이지</h1>
        <h3> 적절한 키워드 후보를 최대 N개 찾아드립니da</h3>
    </div>

    <div class="input">
      <input type="radio" name="SetNumber" value="1" >1개
      <input type="radio" name="SetNumber" value="2" >2개
      <input type="radio" name="SetNumber" value="3" >3개
      <input type="radio" name="SetNumber" value="4" >4개
      <input type="radio" name="SetNumber" value="5" checked>5개
        <form action="/search" onsubmit="return false;" method="post">
          <!-- <input onkeyup=changeRankKeyword() id="inputText" name="inputKeyword"> -->
          <input id="inputText" name="inputKeyword" placeholder="검색어를 입력하세요 ㅎ">
        </form>
    </div>

    <div class="searchResult">
      <h3 id="RankText1" style="color:red;">   </h3>
      <h6 id="RankText2">  </h6>
      <h6 id="RankText3">  </h6>
      <h6 id="RankText4">  </h6>
      <h6 id="RankText5">  </h6>
      <h6 id="SearchingTime">  </h6>
    </div>
</body>

<script>
function delay(callback,ms){
  var timer=0;
  return function(){
    var context = this, args = arguments;
    clearTimeout(timer);
    timer = setTimeout(function(){
      callback.apply(context, args);
    }, ms || 0);
  };
}

$('#inputText').keyup(delay(function(e){
  changeRankKeyword();
},400));

function changeRankKeyword(){
  sendPostUsingXMLHttpRequest();
}

function sendPostUsingXMLHttpRequest(){
  var inputText = document.getElementById("inputText").value;
  var output_size = $("input[type='radio'][name='SetNumber']:checked").val();
  if(inputText.length<1){
    for (var i = 0; i < output_size; i++) {
      document.getElementById("RankText"+(i+1)).innerHTML=" ";
    }
      document.getElementById("SearchingTime").innerHTML=" ";
    return;
  }
  var data = new FormData();
  data.append('inputText', inputText);
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", "/search",true);
  xhttp.send(data);
  setTimeout(function(){
    var result = JSON.parse(xhttp.response)["result"];
    for (var i = 0; i < output_size; i++) {
      document.getElementById("RankText"+(i+1)).innerHTML=result[i];
    }
    for (var i = 4; i >= output_size; i--) {
      document.getElementById("RankText"+(i+1)).innerHTML=" ";
    }
    document.getElementById("SearchingTime").innerHTML=result[output_size];
  },800);
}
</script>
</html>
